<ion-view title="Add Event" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="addEvent-form4" class="list ">
            <label class="item item-select " id="addEvent-select1" name="season">
                <span class="input-label">Season</span>
                <select>
                    <option>2016</option>
                    <option>2017</option>
                </select>
            </label>
            <label class="item item-select " id="addEvent-select2" name="host">
                <span class="input-label">Host</span>
                <select>
                    <option>Mac</option>
                    <option>Paul</option>
                    <option>Schulz</option>
                    <option>Derek</option>
                    <option>Ward</option>
                    <option>Hart</option>
                </select>
            </label>
            <label class="item item-input " id="addEvent-input4" name="date">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
            <a ui-sref="tabsController.cRB2016Season" id="addEvent-button7" class=" button button-positive  button-block button-outline ">Save</a>
        </form>
    </ion-content>
</ion-view>