<ion-view title="Confirmation" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="confirmation-markdown4" style="color:#000000;" class=" ">Enter the confirmation code that was emailed to you from Poker League</p>
        <form id="confirmation-form3" class="list ">
            <div class="spacer" style="width: 300px; height: 44px;"></div>
            <ion-list id="confirmation-list3" class=" ">
                <label class="item item-input " id="confirmation-input6">
                    <span class="input-label">Code</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="register" id="confirmation-button5" class=" button button-positive  button-block button-outline ">Confirm</a>
        </form>
    </ion-content>
</ion-view>