<ion-view title="CRB 2016: 6/12 Schulz" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="cRB2016612Schulz-heading7" style="color:#000000;" class=" ">Winnings</h3>
        <button id="cRB2016612Schulz-button3" class=" button button-positive  button-block button-outline ">Add</button>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <h3 id="cRB2016612Schulz-heading6" style="color:#000000;" class=" ">Notes</h3>
        <form id="cRB2016612Schulz-form3" class="list ">
            <label class="item item-input " id="cRB2016612Schulz-input3">
                <span class="input-label">Say something....</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <ion-list id="cRB2016612Schulz-list12" class=" ">
            <ion-item class="item-avatar  " id="cRB2016612Schulz-list-item47">
                <h2>Derek 6:55 PM</h2>
                <p style="white-space:normal;">Derek drops a full boat, but Ward's was higher. $55 pot</p>
            </ion-item>
            <ion-item class="item-avatar  " id="cRB2016612Schulz-list-item48">
                <h2>Mac 6:45 PM</h2>
                <p style="white-space:normal;">Schulz made an inappropriate joke. Suffice it to say that we are all going to hell in a handbag.</p>
            </ion-item>
            <ion-item class="item-avatar  " id="cRB2016612Schulz-list-item50">
                <h2>Mac 6:43 PM</h2>
                <p style="white-space:normal;">Thumbnail image here... click to show full-screen image</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>