<ion-view title="CRB 2016 Season" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="cRB2016Season-heading1" style="color:#000000;" class=" ">Ranking</h3>
        <ion-list id="cRB2016Season-list5" class=" ">
            <ion-item id="cRB2016Season-list-item6" class="  ">1. Mac $405</ion-item>
            <ion-item id="cRB2016Season-list-item7" class="  ">2. Hart $315
                <span class="item-note">-$95</span>
            </ion-item>
            <ion-item id="cRB2016Season-list-item8" class="  ">3. Derek $150
                <span class="item-note">-$255</span>
            </ion-item>
            <ion-item id="cRB2016Season-list-item9" class="  ">4. Ward $100
                <span class="item-note">-$305</span>
            </ion-item>
            <ion-item id="cRB2016Season-list-item10" class="  ">5. Schulz $50
                <span class="item-note">-$355</span>
            </ion-item>
            <ion-item id="cRB2016Season-list-item11" class="  ">6. Paul $25
                <span class="item-note">-$380</span>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <h3 id="cRB2016Season-heading2" style="color:#000000;" class=" ">Schedule</h3>
        <ion-list id="cRB2016Season-list6" class=" ">
            <ion-item id="cRB2016Season-list-item12" ui-sref="tabsController.cRB2016123Paul" class="  ">1/23 Paul
                <span class="item-note">Mac $105</span>
            </ion-item>
            <ion-item id="cRB2016Season-list-item13" ui-sref="tabsController.cRB2016123Paul" class="  ">2/15 Mac
                <span class="item-note">Paul $75</span>
            </ion-item>
            <ion-item id="cRB2016Season-list-item14" ui-sref="tabsController.cRB2016123Paul" class="  ">3/12 Derek
                <span class="item-note">Derek $250</span>
            </ion-item>
            <ion-item id="cRB2016Season-list-item15" ui-sref="tabsController.cRB2016123Paul" class="  ">4/5 Hart
                <span class="item-note">Mac $150</span>
            </ion-item>
            <ion-item id="cRB2016Season-list-item16" ui-sref="tabsController.cRB2016123Paul" class="  ">5/9 Ward
                <span class="item-note">Paul $165</span>
            </ion-item>
            <ion-item id="cRB2016Season-list-item17" ui-sref="tabsController.cRB2016612Schulz" class="  ">6/12 Schulz
                <span class="item-note">TBD</span>
            </ion-item>
            <ion-item id="cRB2016Season-list-item18" ui-sref="tabsController.cRB2016612Schulz" class="  ">7/xx Paul
                <span class="item-note">TBD</span>
            </ion-item>
        </ion-list>
        <a ui-sref="tabsController.addEvent" id="cRB2016Season-button4" class=" button button-positive  button-block button-outline ">Add Event</a>
    </ion-content>
</ion-view>