<ion-view title="Poker League" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="pokerLeague-form1" class="list ">
            <p id="pokerLeague-markdown3" style="color:#000000;text-align:center;" class=" ">Activate your new or existing account</p>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <ion-list id="pokerLeague-list1" class=" ">
                <label class="item item-input " id="pokerLeague-input1">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Moneymaker">
                </label>
                <label class="item item-input " id="pokerLeague-input2">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="someone@email.com">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="confirmation" id="pokerLeague-button2" class=" button button-positive  button-block button-outline ">Activate</a>
        </form>
    </ion-content>
</ion-view>