<ion-view title="Seasons" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="seasons-list7" class=" ">
            <ion-item ng-repeat="season in seasons" class="item-icon-right" ui-sref="tabsController.season({id: season.id})">
              {{season.year}}
                <span class="item-note">{{season.firstPlaceUser.nickname}} {{season.firstPlaceWinnings | currency:"$":0}}</span>
                <i class="icon ion-star icon-accessory"></i>
            </ion-item>
        </ion-list>
        <a ui-sref="tabsController.seasonAdd" id="seasons-button5" class=" button button-positive  button-block button-outline ">Add Season</a>
    </ion-content>
</ion-view>
