<ion-view title="Season Add">
  <ion-content padding="true" class="has-header">
    <form class="list" ng-submit="addSeason()">
      <label class="item item-select " id="addEvent-select1" name="season">
        <span class="input-label">Season</span>
        <select ng-model="season.year" ng-options="year for year in years"></select>
      </label>
      <ion-toggle ng-model="season.isActive" toggle-class="toggle-positive" name="isActive">Active</ion-toggle>
      <button type="submit" class="button button-block button-positive button-outline">Save</button>
    </form>

  </ion-content>
</ion-view>
