<ion-view title="Season Add" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="seasonAdd-form5" class="list ">
            <label class="item item-input " id="seasonAdd-input6">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <ion-toggle toggle-class="toggle-positive" id="seasonAdd-toggle3" name="isActive" class=" ">Active</ion-toggle>
        </form>
        <a ui-sref="tabsController.seasons" id="seasonAdd-button6" class=" button button-positive  button-block button-outline ">Save</a>
    </ion-content>
</ion-view>