<ion-view>
  <ion-nav-title>{{vm.event.eventDate | date:'shortDate'}} Buy-In</ion-nav-title>
  <ion-content padding="true" class="has-header">
    <form class="list" ng-submit="vm.save()">
      <label class="item item-input" name="member">
        <span class="input-label">Member</span>
        <select ng-model="vm.buyIn.member" ng-options="member.name for member in vm.members track by member.id"></select>
      </label>
      <label class="item item-input" name="amount">
        <span class="input-label">Amount</span>
        $ &nbsp; <input type="number" ng-model="vm.buyIn.amount">
      </label>
      <button type="submit" class="button button-block button-positive button-outline">Save</button>
    </form>
  </ion-content>
</ion-view>
