<ion-view>
  <ion-nav-title>{{vm.event.eventDate | date:'shortDate'}} {{vm.event.name}}</ion-nav-title>
  <ion-content padding="true" class="has-header">
    <h3>Host</h3>
    <div class="list card">
      <ion-item class="item-avatar">
        <h2>{{vm.event.hostUser.name}}</h2>
        <p>{{vm.event.hostUser.email}}</p>
      </ion-item>
    </div>

    <h3>Players</h3>
    <div class="list card">
      <div class="row" style="font-weight: bold">
        <div class="col">Rank</div>
        <div class="col" style="text-align: right">Buy-In</div>
        <div class="col" style="text-align: right">Winnings</div>
      </div>

      <div>
        <div ng-repeat="user in vm.users" class="row">
          <div class="col">{{$index+1}}. {{user.name}}</div>
          <div class="col" style="text-align: right">{{user.buyins | currency}}</div>
          <div class="col" style="text-align: right">{{user.results | currency}}</div>
        </div>
      </div>

    </div>

    <div class="spacer" style="width: 300px; height: 18px;"></div>

    <h3>Notes</h3>
    <form class="list">
      <label class="item item-input">
        <span class="input-label">Say something....</span>
        <input type="text" placeholder="">
      </label>
      <button class="button button-positive button-outline ">Send</button>
    </form>

    <ion-list>
      <ion-item ng-repeat="activity in vm.activities" class="item-avatar">
        <h2>{{activity.createdByUser.name}} {{activity.createdDtm | date:'shortTime'}}</h2>
        <p style="white-space:normal;">{{activity.note}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
