<ion-view hide-top-tabs hide-bottom-tabs>
  <ion-nav-title>Event {{vm.event.id ? 'Edit' : 'Add'}}</ion-nav-title>
  <ion-content padding="true" class="has-header">
    <form class="list" ng-submit="vm.saveEvent()">
      <label class="item item-input" name="season">
        <span class="input-label">Season</span>
        <select ng-model="vm.event.season" ng-options="season.year for season in vm.seasons track by season.id"></select>
      </label>

      <label class="item item-input" name="name">
        <span class="input-label">Name</span>
        <input type="text" ng-model="vm.event.name">
      </label>
      <label class="item item-input" name="host">
        <span class="input-label">Host</span>
        <select ng-model="vm.event.hostMember" ng-options="member.name for member in vm.members track by member.id"></select>
      </label>
      <label class="item item-input" name="date">
        <span class="input-label">Date</span>
        <input type="datetime-local" ng-model="vm.event.eventDate">
      </label>
      <button type="submit" class="button button-block button-positive button-outline">Save</button>
    </form>

    <div ng-if="vm.event.id">
      <div class="spacer" style="width: 300px; height: 51px;"></div>
      <button ng-click="vm.deleteEvent()" class="button button-assertive button-block">Delete Event</button>
      <p style="color:#000000;">
        <strong>WARNING!</strong> Deleting your event will also delete all information tied to the event.
      </p>
    </div>
  </ion-content>
</ion-view>
