<ion-view>
  <ion-nav-title>{{vm.event.eventDate | date:'shortDate'}} {{vm.event.name}}</ion-nav-title>

  <ion-nav-buttons side="secondary">
    <button class="button" ui-sref="tab.eventEdit({id: vm.event.id})">Edit</button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">
    <h3>Host</h3>
    <div class="list card">
      <ion-item class="item-avatar">
        <h2>{{vm.event.hostUser.name}}</h2>
        <p>{{vm.event.hostUser.email}}</p>
      </ion-item>
    </div>

    <h3>Buy-Ins</h3>
    <div class="list card">
      <div class="row" style="font-weight: bold">
        <div class="col">Rank</div>
        <div class="col" style="text-align: right">Buy-In</div>
        <div class="col" style="text-align: right">Winnings</div>
      </div>

      <div>
        <div ng-repeat="user in vm.users" class="row">
          <div class="col">{{$index+1}}. {{user.name}}</div>
          <div class="col" style="text-align: right">{{user.buyins | currency}}</div>
          <div class="col" style="text-align: right">{{user.results | currency}}</div>
        </div>
      </div>

    </div>

    <div class="spacer" style="width: 300px; height: 18px;"></div>

    <h3>Notes</h3>
    <form class="list" ng-submit="vm.saveNote()">
      <label class="item item-input">
        <input ng-model="vm.noteText" type="text" placeholder="Say something...">
        <button type="submit" class="button button-icon icon ion-android-send"></button>
      </label>
    </form>

    <div class="card" ng-repeat="activity in vm.activities" on-swipe-left="deleteActivity(activity.id)">
      <div class="item item-text-wrap">
        <!--<avatar user="activity.createdByUser" height="35" width="35"></avatar>-->
        <h2>{{activity.createdDtm | date:'shortTime'}} {{activity.createdByUser.name}}</h2>
        <p style="white-space:normal;">{{activity.note}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
