<ion-view>
  <ion-nav-title>{{vm.season.year}} {{vm.season.league.name}}</ion-nav-title>

  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="vm.seasonEdit({id: vm.season.id})">Edit</button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">
    <h4>Ranking</h4>

    <div class="card">
      <ion-list>
        <ion-item class="row text-bold">
          <div class="col">Name</div>
          <div class="col text-right">Winnings</div>
          <div class="col text-right">Behind</div>
        </ion-item>
        <ion-item class="row" ng-repeat="ranking in vm.season.rankings">
          <div class="col">{{ranking.rank}}. {{ranking.user.name}}</div>
          <div class="col text-right">{{ranking.winnings | currency:"$":0}}</div>
          <div class="col text-right">{{vm.getFirstPlaceDiff(ranking.winnings) | currency:"$":0}}</div>
        </ion-item>
      </ion-list>
    </div>

    <div class="spacer" style="width: 300px; height: 10px;"></div>

    <h4>Events</h4>
    <div class="card">
      <ion-list>
        <ion-item class="row text-bold">
          <div class="col">Date</div>
          <div class="col">Host</div>
          <div class="col">Winner</div>
        </ion-item>
        <ion-item class="row" ng-repeat="event in vm.season.events" ng-click="vm.viewEvent({id: event.id, seasonId: vm.season.id})">
          <div class="col">{{event.eventDate | date:'shortDate'}}</div>
          <div class="col">{{event.hostName}}</div>
          <div class="col">{{event.firstPlaceWinner}} {{event.firstPlaceWinnings | currency:"$":0}}</div>
        </ion-item>
      </ion-list>
    </div>

    <button ng-click="vm.addEvent({seasonId:vm.season.id})" id="home-add-event" class="button button-positive button-block button-outline">Add Event</button>
  </ion-content>
</ion-view>
