<ion-view>
  <ion-nav-title>{{vm.isProfileTab ? 'Profile' : 'Member'}} {{vm.member.id ? 'Edit' : 'Add'}}</ion-nav-title>
  <ion-content padding="true" class="has-header">
    <form class="list" ng-submit="vm.saveMember()">
      <label class="item item-input" name="name">
        <span class="input-label">Name</span>
        <input type="text" ng-model="vm.member.name">
      </label>
      <ion-toggle ng-model="vm.member.isAdmin" toggle-class="toggle-positive">Administrator</ion-toggle>
      <ion-toggle ng-model="vm.member.isActive" toggle-class="toggle-positive">Active</ion-toggle>
      <button type="submit" class="button button-block button-positive button-outline">Save</button>
    </form>

    <div ng-if="!vm.isProfileTab && vm.member.id">
      <div class="spacer" style="width: 300px; height: 51px;"></div>
      <button ng-click="vm.deleteMember()" class="button button-assertive button-block">Delete Member</button>
      <p style="color:#000000;" class=" ">
        <strong>WARNING!</strong> Deleting this member will also delete all event activity and information tied to this member.
      </p>
    </div>

    <div ng-if="vm.isProfileTab">
      <div class="spacer" style="width: 300px; height: 50px;"></div>
      <button ng-click="vm.leaveLeague()" class="button button-assertive button-block">Leave League</button>
      <p style="color:#000000;">
        <strong>WARNING!</strong> Leaving this league will disconnect you from your league data.
      </p>
    </div>

  </ion-content>
</ion-view>
