<ion-view>
  <ion-nav-title>{{vm.isProfileTab ? 'Profile' : 'Member'}}</ion-nav-title>

  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="vm.memberEdit({id: vm.member.id})">Edit</button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">

    <h4>Profile</h4>
    <div class="list card">
      <ion-item>
        <h2>{{vm.member.name}}</h2>
        <p>{{vm.member.email}}</p>
        <p ng-if="vm.member.isAdmin">Administrator</p>
        <p ng-if="vm.member.isActive">Active Member</p>
        <p ng-if="!vm.member.isActive">Inactive Member</p>
      </ion-item>
    </div>

    <h4>Access Code</h4>
    <div class="list card">
      <ion-item>
        <p>{{vm.member.accessCode}}</p>
      </ion-item>
    </div>

    <h4>Seasons</h4>
    <div class="list card">
      <ion-list>
        <ion-item ng-repeat="season in vm.member.seasons" class="item-icon-right">
          {{season.year}}
          <span class="item-note">Winnings: {{season.winnings | currency:"$":0}}</span>
        </ion-item>
        <ion-item ng-if="vm.member.seasons.length == 0" class="item-icon-right">
          None
        </ion-item>
      </ion-list>
    </div>

    <div ng-if="vm.isProfileTab">
      <a ng-click="vm.logout()" class="button button-positive button-block button-outline">Log out of Poker League</a>
    </div>

  </ion-content>
</ion-view>
